{
  "presets": [
    "stage-0",
    "es2015"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "ignore": [
    "**/templates/**/*.js"
  ]
}
